<div class="container">
  <div class="row">
    <div class="my" >My</div> <%= image_tag  "negro.svg", {class: "panier-tails"} %>
    <div class="text-center">
      <i class="fa fa-download fa-2x ico-pad" aria-hidden="true"></i>
      <i class="fa fa-file-pdf-o fa-2x ico-pad" aria-hidden="true"></i>
    </div>
    <div class="col-xs-12 col-sm-8">
        <h2>RAYON FRAIS</h2>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <h2>RAYON FRAIS</h2>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <h2>RAYON FRAIS</h2>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>
  </div>
</div>
