.push{
  margin-left: 25%;
  margin-top: 10%;
}
#search-1{
  margin-right: 8%;
  margin-left: 1%;
}

#search-2{
  margin-right: 8%;
  margin-left: 1%;
}

#search-3{
  margin-left: 1%;
}
label {
  margin-left: 5%;
}
.form-group{
  padding: 1%;
  margin-top: 2%;
  background-color: #cccccc;
}
.air{
  margin-top: 2%;
}
