.panier-tails{
  width: 25%;
  margin-left: auto;
  margin-right: 31%;
  display: block;
  margin-top: -7%;
}
.ico-pad{
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}
.my{
  display: inline-block;
  margin-left: 37%;
  margin-top: 8%;
  font-size: 3em;
}
